<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [ ]:

!pip install -q pandas==1.1.5

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///RealWorldData.db

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [14]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_.csv')
df.head(2)

rows_affected = df.to_sql('SCHOOLS', con=con, if_exists='replace', index=False)
print('Number of rows affected : {}'.format(rows_affected))

Number of rows affected : 566

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [20]:
# type in your query to retrieve list of all tables in the database
%sql SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///RealWorldData.db
Done.

[('table', 'SCHOOLS', 'SCHOOLS', 98, 'CREATE TABLE "SCHOOLS" (\n"School ID" INTEGER,\n  "Name of School" TEXT,\n  "Elementary, Middle, or High School" TEXT,\n  "Street Address" TEXT,\n  " ... (2270 characters truncated) ... tude" REAL,\n  "Community Area Number" INTEGER,\n  "Community Area Name" TEXT,\n  "Ward" INTEGER,\n  "Police District" INTEGER,\n  "Location" TEXT\n)')]

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [28]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT COUNT(*) FROM PRAGMA_TABLE_INFO('SCHOOLS');

 * sqlite:///RealWorldData.db
Done.

[(79,)]

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [32]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT name, type, length(type) FROM PRAGMA_TABLE_INFO('SCHOOLS');

 * sqlite:///RealWorldData.db
Done.

[('School ID', 'INTEGER', 7),
 ('Name of School', 'TEXT', 4),
 ('Elementary, Middle, or High School', 'TEXT', 4),
 ('Street Address', 'TEXT', 4),
 ('City', 'TEXT', 4),
 ('State', 'TEXT', 4),
 ('ZIP Code', 'INTEGER', 7),
 ('Phone Number', 'TEXT', 4),
 ('Link ', 'TEXT', 4),
 ('Network Manager', 'TEXT', 4),
 ('Collaborative Name', 'TEXT', 4),
 ('Adequate Yearly Progress Made? ', 'TEXT', 4),
 ('Track Schedule', 'TEXT', 4),
 ('CPS Performance Policy Status', 'TEXT', 4),
 ('CPS Performance Policy Level', 'TEXT', 4),
 ('Healthy Schools Certified?', 'TEXT', 4),
 ('Safety Icon ', 'TEXT', 4),
 ('Safety Score', 'REAL', 4),
 ('Family Involvement Icon', 'TEXT', 4),
 ('Family Involvement Score', 'TEXT', 4),
 ('Environment Icon ', 'TEXT', 4),
 ('Environment Score', 'REAL', 4),
 ('Instruction Icon ', 'TEXT', 4),
 ('Instruction Score', 'REAL', 4),
 ('Leaders Icon ', 'TEXT', 4),
 ('Leaders Score ', 'TEXT', 4),
 ('Teachers Icon ', 'TEXT', 4),
 ('Teachers Score', 'TEXT', 4),
 ('Parent Engagement Icon ', 'TEXT', 4),
 ('Parent Engagement Score', 'TEXT', 4),
 ('Parent Environment Icon', 'TEXT', 4),
 ('Parent Environment Score', 'TEXT', 4),
 ('Average Student Attendance', 'REAL', 4),
 ('Rate of Misconducts (per 100 students) ', 'REAL', 4),
 ('Average Teacher Attendance', 'REAL', 4),
 ('Individualized Education Program Compliance Rate ', 'REAL', 4),
 ('Pk-2 Literacy %', 'TEXT', 4),
 ('Pk-2 Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Math %', 'TEXT', 4),
 ('Gr3-5 Grade Level Read % ', 'TEXT', 4),
 ('Gr3-5 Keep Pace Read %', 'TEXT', 4),
 ('Gr3-5 Keep Pace Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Math %', 'TEXT', 4),
 ('Gr6-8 Grade Level Read %', 'TEXT', 4),
 ('Gr6-8 Keep Pace Math%', 'TEXT', 4),
 ('Gr6-8 Keep Pace Read %', 'TEXT', 4),
 ('Gr-8 Explore Math %', 'TEXT', 4),
 ('Gr-8 Explore Read %', 'TEXT', 4),
 ('ISAT Exceeding Math %', 'REAL', 4),
 ('ISAT Exceeding Reading % ', 'REAL', 4),
 ('ISAT Value Add Math', 'REAL', 4),
 ('ISAT Value Add Read', 'REAL', 4),
 ('ISAT Value Add Color Math', 'TEXT', 4),
 ('ISAT Value Add Color Read', 'TEXT', 4),
 ('Students Taking  Algebra %', 'TEXT', 4),
 ('Students Passing  Algebra %', 'TEXT', 4),
 ('9th Grade EXPLORE (2009) ', 'TEXT', 4),
 ('9th Grade EXPLORE (2010) ', 'TEXT', 4),
 ('10th Grade PLAN (2009) ', 'TEXT', 4),
 ('10th Grade PLAN (2010) ', 'TEXT', 4),
 ('Net Change EXPLORE and PLAN', 'TEXT', 4),
 ('11th Grade Average ACT (2011) ', 'TEXT', 4),
 ('Net Change PLAN and ACT', 'TEXT', 4),
 ('College Eligibility %', 'TEXT', 4),
 ('Graduation Rate %', 'TEXT', 4),
 ('College Enrollment Rate %', 'TEXT', 4),
 ('College Enrollment (number of students) ', 'INTEGER', 7),
 ('General Services Route ', 'INTEGER', 7),
 ('Freshman on Track Rate %', 'TEXT', 4),
 ('RCDTS Code', 'INTEGER', 7),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('Latitude', 'REAL', 4),
 ('Longitude', 'REAL', 4),
 ('Community Area Number', 'INTEGER', 7),
 ('Community Area Name', 'TEXT', 4),
 ('Ward', 'INTEGER', 7),
 ('Police District', 'INTEGER', 7),
 ('Location', 'TEXT', 4)]

Double-click **here** for the solution.

<!-- Solution 

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [81]:
# We use the backtick instead of single/double quotes because the column name contains spaces

%sql SELECT COUNT(*) FROM SCHOOLS WHERE `Elementary, Middle, or High School` = 'ES';

 * sqlite:///RealWorldData.db
Done.

[(462,)]

### Problem 2

##### What is the highest Safety Score?

In [82]:
%sql SELECT MAX(`Safety Score`) FROM SCHOOLS;

 * sqlite:///RealWorldData.db
Done.

[(99.0,)]

### Problem 3

##### Which schools have highest Safety Score?

In [85]:

%sql SELECT `Name Of School`, `Safety Score`  from SCHOOLS WHERE `Safety Score` = (SELECT MAX(`Safety Score`) from SCHOOLS);

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [92]:
%sql SELECT `Name Of School`, `Average Student Attendance` from SCHOOLS order by `Average Student Attendance` DESC limit 10;

 * sqlite:///RealWorldData.db
Done.

[('John Charles Haines Elementary School', 98.4),
 ('James Ward Elementary School', 97.8),
 ('Rachel Carson Elementary School', 97.6),
 ('Edgar Allan Poe Elementary Classical School', 97.6),
 ('Orozco Fine Arts & Sciences Elementary School', 97.6),
 ('Annie Keller Elementary Gifted Magnet School', 97.5),
 ('Lenart Elementary Regional Gifted Center', 97.4),
 ('Andrew Jackson Elementary Language Academy', 97.4),
 ('Disney II Magnet School', 97.3),
 ('John H Vanderpoel Elementary Magnet School', 97.2)]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [93]:
%sql SELECT `Name Of School`, `Average Student Attendance` from SCHOOLS order by `Average Student Attendance` ASC limit 5;

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0)]

### Problem 6
##### Now remove the '%' sign from the above result set for Average Student Attendance column
##### QUESTION DON'T APPLY

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [113]:
%sql SELECT `Name Of School`, `Average Student Attendance` \
     FROM SCHOOLS \
     WHERE CAST ( REPLACE(`Average Student Attendance`, '%', '') AS DOUBLE ) < 70 \
     ORDER BY `Average Student Attendance`

 * sqlite:///RealWorldData.db
Done.

[('Richard T Crane Technical Preparatory High School', 57.9),
 ('Barbara Vick Early Childhood & Family Center', 60.9),
 ('Dyett High School', 62.5),
 ('Wendell Phillips Academy High School', 63.0),
 ('Orr Academy High School', 66.3),
 ('Manley Career Academy High School', 66.8),
 ('Chicago Vocational Career Academy High School', 68.8),
 ('Roberto Clemente Community Academy High School', 69.6)]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [116]:
%sql select `Community Area Name`, sum(`College Enrollment (number of students)	`) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by `Community Area Name`

 * sqlite:///RealWorldData.db
Done.

[('ALBANY PARK', 6864),
 ('ARCHER HEIGHTS', 4823),
 ('ARMOUR SQUARE', 1458),
 ('ASHBURN', 6483),
 ('AUBURN GRESHAM', 4175),
 ('AUSTIN', 10933),
 ('AVALON PARK', 1522),
 ('AVONDALE', 3640),
 ('BELMONT CRAGIN', 14386),
 ('BEVERLY', 1636),
 ('BRIDGEPORT', 3167),
 ('BRIGHTON PARK', 9647),
 ('BURNSIDE', 549),
 ('CALUMET HEIGHTS', 1568),
 ('CHATHAM', 5042),
 ('CHICAGO LAWN', 7086),
 ('CLEARING', 2085),
 ('DOUGLAS', 4670),
 ('DUNNING', 4568),
 ('EAST GARFIELD PARK', 5337),
 ('EAST SIDE', 5305),
 ('EDGEWATER', 4600),
 ('EDISON PARK', 910),
 ('ENGLEWOOD', 6832),
 ('FOREST GLEN', 1431),
 ('FULLER PARK', 531),
 ('GAGE PARK', 9915),
 ('GARFIELD RIDGE', 4552),
 ('GRAND BOULEVARD', 2809),
 ('GREATER GRAND CROSSING', 4051),
 ('HEGEWISCH', 963),
 ('HERMOSA', 3975),
 ('HUMBOLDT PARK', 8620),
 ('HYDE PARK', 1930),
 ('IRVING PARK', 7764),
 ('JEFFERSON PARK', 1755),
 ('KENWOOD', 4287),
 ('LAKE VIEW', 7055),
 ('LINCOLN PARK', 5615),
 ('LINCOLN SQUARE', 4132),
 ('LOGAN SQUARE', 7351),
 ('LOOP', 871),
 ('LOWER WEST SIDE', 7257),
 ('MCKINLEY PARK', 1552),
 ('MONTCLARE', 1317),
 ('MORGAN PARK', 3271),
 ('MOUNT GREENWOOD', 2091),
 ('NEAR NORTH SIDE', 3362),
 ('NEAR SOUTH SIDE', 1378),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922),
 ('NORTH CENTER', 7541),
 ('NORTH LAWNDALE', 5146),
 ('NORTH PARK', 4210),
 ('NORWOOD PARK', 6469),
 ('OAKLAND', 140),
 ('OHARE', 786),
 ('PORTAGE PARK', 6954),
 ('PULLMAN', 1620),
 ('RIVERDALE', 1547),
 ('ROGERS PARK', 4068),
 ('ROSELAND', 7020),
 ('SOUTH CHICAGO', 4043),
 ('SOUTH DEERING', 1859),
 ('SOUTH LAWNDALE', 14793),
 ('SOUTH SHORE', 4543),
 ('UPTOWN', 4388),
 ('WASHINGTON HEIGHTS', 4006),
 ('WASHINGTON PARK', 2648),
 ('WEST ELSDON', 3700),
 ('WEST ENGLEWOOD', 5946),
 ('WEST GARFIELD PARK', 2622),
 ('WEST LAWN', 4207),
 ('WEST PULLMAN', 3240),
 ('WEST RIDGE', 8197),
 ('WEST TOWN', 9429),
 ('WOODLAWN', 4206)]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [118]:
%sql select `Community Area Name`, sum(`College Enrollment (number of students)	`) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by `Community Area Name`\
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

### Problem 10

##### List 5 schools with lowest safety score.

In [119]:

%sql SELECT `Name Of School`, `Safety Score` \
FROM SCHOOLS where `Safety Score` !='None' \
ORDER BY `Safety Score` \
LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Edmond Burke Elementary School', 1.0),
 ("Luke O'Toole Elementary School", 5.0),
 ('George W Tilton Elementary School', 6.0),
 ('Foster Park Elementary School', 11.0),
 ('John Fiske Elementary School', 13.0)]

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Modified and completed by

Marco Mudenge

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2023-08-11     | 3.0  | Marco Mudenge    | Exercises completed |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>